<div class="login">
  <h2 class="login-header">REACTIVE FORM PAWEL SADOWNIK</h2>

<div>
  <form novalidate (ngSubmit)="onSubmit(user)"  [formGroup]="user">

    <input name="name" placeholder="Name" id="name" formControlName="name">
    <div *ngIf="user.get('name').errors && user.get('name').touched" >
      <div class="error">Field required!</div>
    </div>

    <input  name="surname" placeholder="Surname" id="surname" formControlName="surname">
    <div *ngIf="user.get('surname').errors && user.get('surname').touched" >
        <div class="error">Field required!</div>
      </div>

    <input  name="email" placeholder="e-mail" id="email" formControlName="email">
    <div *ngIf="user.get('email').errors && user.get('email').touched" >
        <div class="error">Field required!</div>
      </div>

    <input  name="phone" placeholder="phone" id="phone" formControlName="phone">

    <div class="form-group">
        <label for="pet">Pet</label>
        <select id="pet" formControlName="pet">
          <option selected [ngValue]="null"></option>
          <option *ngFor="let pet of pets" [value]="pet">{{pet}}</option>
        </select>
        <div *ngIf="user.get('pet').errors && user.get('pet').touched" >
            <div class="error">Field required!</div>
          </div>
      </div>
    <div>

        <input type="password" placeholder="Password" appPassword name="password" id="password" formControlName="password">
      </div>
      <div *ngIf="user.get('password').valid" >
        <input type="confirmpassword" placeholder="Confirm Password" appPassword name="confirmpassword" id="confirmpassword" formControlName="confirmpassword">
        <div class="error" *ngIf="user.get('confirmpassword').errors && user.get('confirmpassword').errors.ConfirmPassword">
            Passsword and ConfirmPassword didn't match.
           </div>
      </div>

    <div formGroupName="address">
      <input type="text" name="city" placeholder="city" id="city" formControlName="city">
      <div *ngIf="user.get('address').get('city').errors && user.get('address').get('city').touched" >
          <div class="error">Field required!</div>
        </div>

      <input type="text" name="street" placeholder="street" id="street" formControlName="street">
      <div *ngIf="user.get('address').get('street').errors && user.get('address').get('street').touched" >
          <div class="error">Field required!</div>
        </div>

      <input type="text" placeholder="Building" name="building" id="building" formControlName="building">
      <div *ngIf="user.get('address').get('building').errors && user.get('address').get('building').touched" >
          <div class="error">Field required!</div>
        </div>

      <input type="text" placeholder="Flat number" name="flatNo" id="flatNo" formControlName="flatNo">
    </div>

    <div formGroupName="consents">
        <label for ="newsletter">Newsletter </label>
        <input type="checkbox"  name="newsletter" id="newsletter" formControlName="newsletter">
        <div *ngIf="user.get('consents').get('newsletter').errors && user.get('consents').get('newsletter').touched" >
            <div class="error">Newsletter acceptation is neccessary</div>
          </div>
          <div *ngIf="user.get('phone').valid" >
            <label for ="sms">SMS </label>
            <input type="checkbox" name="sms" id="sms" [value]="true" formControlName="sms">
          </div>

      </div>

    <div class="col-2">
      <button type="submit" [disabled]="user.invalid">Sign up</button>
    </div>
</form>
</div>


</div>
